html {
    /*May not be supported in other browsers*/
  scroll-behavior: smooth;
}

body {
	background-color: #FAF9F6;
	font-family: Georgia;
    margin: 0;
}

body.theme1 {
    --darker: rgb(24, 38, 23);
    --darkernav: rgb(24, 38, 23, 0.8);
    --navback: rgb(134, 183, 83, 0.45);
    --header: url(IMG_0720.JPG);
    --header_pos: 0% 80%;
    --content1: rgba(234, 247, 230, 0.8);
    --content2: rgba(204, 217, 200, 0.8);
    background-image: url(bg_green.png);
    --men_bg: rgba(234, 247, 230);

}

body.theme2 {
    --darker: rgb(93, 84, 111);
    --darkernav: rgb(93, 84, 111, 0.8);
    --navback: rgb(234, 135, 146, 0.4);
    --header: url(IMG_1231.JPG);
    --header_pos: 0% 50%;
    --content1: rgba(254, 247, 252, 0.8);
    --content2: rgba(224, 217, 222, 0.8);
    background-image: url(bg_pink.png);
    --men_bg: rgba(254, 247, 252);
}

body.theme3 {
    --darker: rgb(35, 48, 63);
    --darkernav: rgb(35, 48, 63, 0.8);
    --navback: rgb(120, 168, 215, 0.4);
    --header: url(boat.JPG);
    --header_pos: 0% 80%;
    --content1: rgba(238, 248, 248, 0.8);
    --content2: rgba(208, 218, 218, 0.8);
    background-image: url(bg_blue.png);
    --men_bg: rgba(238, 248, 248);
}

h1, p {
    margin: 0;
}

/*CSS GRID LAYOUT*/

.grid-layout {
    display:grid;
    grid-template-columns: 140px auto auto auto auto 25%;
    grid-template-areas: 
        'head head head head head head'
        'men abt abt abt abt p'
        'men res res res res p'
        'men pub pub pub pub p'
        'men cv cv cv cv p'
        'men sk1 sk1 sk1 sk1 p'
        'men ct ct ct ct p'
        ;
    max-width: calc(100%-80px);
}

.grid-layout > div.s1, .grid-layout > div.s2 {
    font-family: 'Montserrat';
    padding: 10px 40px 15px 40px;
}

.grid-layout > div.s1 {
    background-color: var(--content1);
}

.grid-layout > div.s2 {
    background-color: var(--content2);
}

.grid-layout > div.photos {
  text-align: center;
  padding: 20px;
}

.photos { 
    grid-area: p; 
}
.aboutme { 
    grid-area: abt; 
}
.research { 
    grid-area: res; 
    text-align: center
}
.cv { 
    grid-area: cv; 
}
.sk1 { 
    grid-area: sk1; 
}
.sk1 { 
    grid-area: sk1; 
}

.pub { 
    grid-area: pub; 
}
.contact { 
    grid-area: ct; 
}


/*HEADER*/

.header {
    display: block;
    padding: 15px;
	max-width:100%;
    background: var(--header);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--header_pos);
    height: 550px;
    color: var(--darker);
    grid-area: head;
}

.header_text {
    background-color: rgb(255,255,255,0.7);
    padding: 10px;
    width: fit-content;
}

h1 {
    font-size: 300%;
}

/*CONTENT FORMATTING*/
/*Titles for different sections*/
h2,h3 {
    text-align: center;
    margin: 5px;
}
/*Only used in CV Skills section*/
h4 {
    text-align: center;
    margin: 0;
}

/*Image formatting*/
img.inline {
    float: left;
    margin: 8px;
}

img.noinline {
    float: none;
    margin: 8px;
}

img.gallery {
    margin-bottom: 10px;
    max-width: 100%;
}

/*Publications*/
p.pubs {
    margin-bottom: 10px;
    line-height: 30px;
}


/* NAV BAR */
.sticky_menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    margin: 10px 15px 0 15px;
    padding-left: 1.4%;
    grid-area: men;
    align-self: start;
}

div.nav, div.navtop, div.subnav {
    max-width: 90%;
    text-align: center;
    padding: 7% 1.5% 7% 1.5%;
    font-family: Verdana;
    font-size: 12px;
    font-weight:bolder;
}

div.nav {
    outline: 2px solid var(--darkernav);
    margin-top: 25px;
    margin-bottom: 25px;  
}

div.sticky_menu a > div.active {
    background: coral;
}

div.subnav {
    outline: 2px solid var(--darkernav);
    margin: 10% 0 0 30%;
    max-width: 60%;
    text-align: center; 
}

a.nav, a.navtop {
    text-decoration: none;
    color: var(--darkernav);
}

div.navtop {
    margin-top: 10px;
}


/*ALL THE STUFF FOR CV*/
:root {
    --tlcolor: darkgray;
}

/*Timeline Formatting*/

body {
    font-family: Georgia;
}

/*Timeline Formatting*/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 5px 0 0 150px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--tlcolor);
    top: 0;
    bottom: 0;
}

/*formatting for text inside of timeline*/
.timeline h3 {
    text-align: left;
    margin: 0;
}
.timeline p {
    font-weight: 700;
}
p.desc {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 200;
}

/* Container around content */
.content {
    padding: 0 0 1px 18px;
    top: 5px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    font-family: montserrat;
}
/* The circles on the timeline */
.content::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
    left: -18px;
  background-color: white;
  border: 2px solid var(--tlcolor);
  top: 2px;
  border-radius: 50%;
  z-index: 1;
}
/*Dates of timeline*/
.date {
    position: absolute;
    width: 30%;
    max-width: 155px;
    left: -180px;
    top: 2px;
    color: var(--tlcolor);
    font-family: monospace;
    font-size: 14px;
    text-align: right;
}

/*Sub content formatting*/
.subcontent {
    top: 5px;
    position: relative;
    left: 10px;
    font-family: montserrat;
    margin-bottom: 13px;
}
.subcontent::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -42px;
    background-color: var(--tlcolor);
    top: 2px;
    border-radius: 50%;
    z-index: 1;
}
.subcontent .date {
    position: absolute;
    left: -195px;
        width: 25%;
    max-width: 140px;
    top: 0;
    font-size: 12px;
    text-align: right;
}

/*Button Filtering Format*/
.btn {
    padding: 13px 20px 13px;
    margin: 0 15px 20px 15px;
      z-index: 3;
    outline: 1px solid black;
    border: 0;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    font-family: verdana;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}
.btn:after {
  content: "";
  background-color: var(--navback);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.btn:hover:after {
  top: 0px;
  left: 0px;
}
.btn.b6 {
    border: 0;
}
.btn.b6:after {
  top: 0px;
  left: 0px;
  background-color: lavender;

}
/*Button Container centering*/
#myBtnContainer {
    text-align: center;
}

/*ACTIVE BUTTON COLORS*/
.btn.active:after {
    top: 0px;
    left: 0px;
}
.btn.active.b2:after {
    background-color: palegreen;   
}
.btn.active.b3:after {
    background-color: pink;   
}
.btn.active.b4:after {
    background-color: powderblue;   
}
.btn.active.b5:after {
    background-color: lightgoldenrodyellow;   
}



/*Skills section*/
div.sk {
    padding: 0 0 0 0;
}


/*MOBILE SIZES (600px)*/

@media only screen and (max-width:1250px) {
    .grid-layout {
    display:grid;
    grid-template-columns: 140px auto auto auto auto;
    grid-template-areas: 
        'head head head head head'
        'men abt abt abt abt'
        'men res res res res '
        'men pub pub pub pub'
        'men cv cv cv cv'
        'men sk1 sk1 sk1 sk1'
        'men ct ct ct ct'
        'men p p p p'
        ;
    }
    img.gallery {
        float: none;
        max-height: 200px;
        margin: 15px;
    }
    .photos {
        text-align: justify;
    }
}

@media only screen and (max-width:950px) {
    body {
        font-family: georgia;
    }
    .sticky_menu {
        background-color: var(--men_bg);
        padding: 8px;
        margin: 0;
        z-index: 5;
    }
    div.nav, div.navtop {
    max-width: 20%;
    padding: 1% 1.5% 1% 1.5%;
    margin: 3px 5px 5px 5px ;
    float: left;
    }
    div.subnav {
        display: none;
    }
    div.navtop {
    }
    .grid-layout {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'head head'
        'men men'
        'abt abt'
        'res res'
        'pub pub'
        'cv cv'
        'sk1 sk1'
        'ct ct'
        'p p'
        ;
    max-width: 100%;
    margin-left: 0;
    }
    .timeline {
        margin: 5px 0 0 0px;
    }
    /*make it so that dates are in line with content*/
    .date, .subcontent .date {
        position: relative;
        width: 100%;
        text-align: left;
        left: 0px;
        margin-top: 10px;
    }
    img.gallery {
    margin-bottom: 10px;
    max-width: 90%;
    }
    body.theme1 {
        --header_pos: 50% 80%;
    }
}


